@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    background-color: #eee;
    font-weight: 400;
}
address {
    background-color: #b1b1b1;
    padding: 10PX 0 10PX 20PX;
    font-style: normal;
    font-size: 12px;
}
img {
    height: 50px;
    align-content: center;
}
.menu {
    background-color: #e1e1e1;
    padding: 30px;
}
.menu li {
    display: inline-block;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: rgb(107, 107, 107);
    padding-right: 20px;
}
#login {
    float: right;
    display: flex;
    margin-top: 28px;
    margin-right: 20px;
    font-weight: 600;
}
#register a {
    background-color: #0071e29c;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    color: #383838;
}
.s-cont {
    float: right;
    margin-top: 20px;
    margin-right: 100px;
}
.s-cont input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.s-cont button{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
#logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.container {
    background-color: ;
}
.container h2 {
    text-align: center;
    font-size: 30px;
    width: 600px;
    margin: 100px auto 20px auto;
}
.container p {
    text-align: center;
    font-size: 18px;
    margin: auto;
    line-height: 1.5;
    padding: 0 450px;
}
.container a{
    padding: 15px;
    background-color: #0071e29c;
    border-radius: 10px;
    display: block;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    font-weight: 500;;
}
#ourteam img {
    height: 350px;
    margin: 50px auto;
    padding: 0 200px;
}
.ourteaminfo h2{
    text-align: center;
    padding: 50px 300px;
    font-size: 30px;
}
.people {
    margin: auto;
    width: 900px;
    padding-left: 20px;
}
.person{
    background-color: #e1e1e1;
    border-radius: 10px;
    padding: 40px;
    width: 320px;
    display: inline-block;
    margin:80px 10px;
}
.person h2{
    color: #0071e29c;
}
.person img{
    height: 200px;
    clip-path: circle(100px at center);
    margin-top: -45%;   
    margin-left: 50px;
}
.person p{
    padding: 15px 0;
    line-height: 1.5;
}
.person span{
    color: #0163c5;
}
footer {
    background-color: #b1b1b1;
    padding: 10px;
}
footer p{
    font-weight: 600;
}